html {
  box-sizing: border-box;
  height: 100%;
  font-family: "Source Sans Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-width: 320px;
  padding: 0;

  font-size: 25px;
  line-height: 33px;
  letter-spacing: normal;
  text-align: center;
  word-wrap: break-word;
  color: #76a704;
  background-color: #cfd300de;
  background-repeat: no-repeat;

  background-position: top center;
  margin-top: 0;
  margin-bottom: 0;

  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    outline: none;
  }
}

.page {

  &-enter-active,
  &-leave-active {
    transition: opacity .32s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active),
.visually-hidden:active,
.visually-hidden:checked,
.visually-hidden:not(:checked),
.input[type="checkbox"].visually-hidden,
.input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
